.headerOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-header;
    padding: 0.5rem;
    margin-bottom: 20px;

    .logo {
        width: 100px;
        border-radius: 50%;
    }

    nav {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;


            li a {
                color: $color-fuente;
                text-decoration: none;
                padding: 0.2rem 1rem;
                font-size: 1.4rem;
                font-family: 'Times New Roman', Times, serif;
                border-right: 1px solid white;
            }
        }
    }
}