.mainContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 10px;
        

        .libroImagen {
            width: 200px;
            height: 300px;
            border: 2px black solid;
        }

        .libroTitulo {
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            padding: 10px;
            border: 2px solid;
            border-color: #0B666A;
            background-color: #d9d9d9;
            width: 200px;
            text-align: center;
            margin-top: 16px;
        }
    }
}